body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.carousel-container {
    display: grid;
    place-items: center;
    height: 100%;
    width: 100%;
}

.carousel {
    width: 100%;
    overflow: auto;
    display: flex;
    gap: 1rem;
    scroll-snap-type: x proximity;
    justify-content: center;
    align-items: center;
}

.item  {
    width: 100%;
    scroll-snap-align: center;
}

.item img {
    width: 45rem;
    height: 17rem;
    object-fit: cover;
}